button {
  font-size: var(--font-size, 14px);
  padding: 1em 2em;
  cursor: pointer;
  background: var(--glass-bg, rgba(255, 255, 255, 0.2));
}

[data-size='small'] {
  --font-size: 12px;
}
[data-size='medium'] {
  --font-size: 14px;
}
[data-size='large'] {
  --font-size: 16px;
}

button:hover {
  background: color-mix(in srgb, var(--glass-bg), #000 10%);
}

button :active {
  background: color-mix(in srgb, var(--glass-bg), #000 20%);
}
